body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

header{
    background:#0066cc;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    background:#222;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

section{
    padding:20px;
    text-align:center;
}

img{
    max-width:100%;
    border-radius:10px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}